.currentPage{
   background-color: lightblue;
}

.job-count{
   height:30px;
   width:50px;
   border-radius:30px;
   border:1px grey solid;
}

@media screen and (max-width:1024px) and (min-width:768px){
   .grid-section{
      gap:10px;
   }

   .navbar-section-2{
      justify-content: center;
   }
}