.ml-15p{
    margin-left:15%;
}

.mr-6p{
  margin-right:6%;
}

.br-grey{
    border-right:1px solid grey;
}

.fontS-14{
  font-size: 14px;
}

.mobile-menu , .mobile-filter{
  display: none;
}


@media screen and (max-width:991px){

  .ml-15p{
    margin-left: 0;
  }
  .mr-6p{
    margin-right:0;
}

.br-grey{
  border:none
}

.navbar-section-1, .navbar-section-2 {
  display: none;
}

.mobile-menu , .mobile-filter, .openMenu, .openFilter{
  display: flex;
}

.openMenu{
  padding-bottom:20px;
}
}

@media screen and (max-width:1024px) and (min-width:768px) {
  .top-section{
    width:0px;
  }

  .bottom-section{
    width:100%;
  }

  
  .ml-15p{
      margin-left:0px;
  }
}
